.section4 {
  min-width: 100%;
  height: 60vh;
  background-image: url(/img/main4-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}