.section5 {
  height: 50vh;
  background-image: url(/img/main5-background.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}