@import "navbar";
@import "main";
@import "main2";
@import "main3";
@import "main4";
@import "main5";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body , html {
  overflow-x: hidden;
  padding: 5px;
  
}
