/*Content Header*/
header {
  width: 100%;
  height: 100%;
}

.header-container {
  width: 100%;
  height: 50vh;
  background-image: url(/img/Background-img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-content h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.header-content h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  color: #FFFFFF;
  margin-bottom: 48px;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-box input {
  width: 500px;
  height: 60px;
  border: none;
  text-align: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.search-box button {
  width: 150px;
  height: 60px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background-color: #5474FD;
  color: white;
  border: 1px solid white;
}
.search-box button:hover {
  color: rgba(255, 255, 255, 0.5);
}

.scrolltext {
  margin-top: 5%;
}
.scrolltext a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #FFFFFF;
}
.scrolltext a:hover {
  opacity: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

/* Navbar */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.navbar {
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474FD;
}
.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar a {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.5);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  padding: 5px;
}